<article class="container post">
    <header>
        <h1>About</h1>
    </header>

    <div itemprop="about">
        <p>
            My name is Ryan Baxter. I'm a computer programmer, hobbyist writer, and proud father.  Much of my career experience has come from developing business applications and integrating software systems within the manufacturing sector.  I've been the team lead on global and domestic ERP, e-commerce, and factory automation projects. I'm a developer at heart with interests including SCM, software design patterns, and programming languages. I've a love of learning and passion for technology.
        </p>
        <p>
            Dog's breakfast is an idiom meaning, "a confused mess or mixture".  It's a fitting title for the contents herein.  This blog is a hodgepodge of posts with topics including software development, tabletop game design, home brewing, and family.  I hope you like it.  Leave comments or contact me directly.  I'd love to hear from you.
        </p>
        <p>
            Stay tuned.  I'll be adding some of my works shortly.
        </p>
    </div>    
</article>